<app-nav-bar></app-nav-bar>
<div class="container mt-5">
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Solicitud de Soporte</h4>
            <hr>
            <form autocomplete="off" [formGroup]="issueForm" (ngSubmit)="registerIssue()">

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input [class.is-invalid]="valueNoValid('reportNumber')" class="form-control" formControlName="reportNumber" [value]="issueForm.value.reportNumber" type="text" readonly>
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input [class.is-invalid]="valueNoValid('address')" class="form-control" formControlName="address" [value]="issueForm.value.address" type="text" readonly>
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input [class.is-invalid]="valueNoValid('contactPhone')" class="form-control" formControlName="contactPhone" [value]="issueForm.value.contactPhone" type="number" readonly>
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input [class.is-invalid]="valueNoValid('email')" class="form-control" formControlName="email" [value]="issueForm.value.email" type="email" readonly>
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input [class.is-invalid]="valueNoValid('status')" formControlName="status" class="form-control" [value]="issueForm.value.status" type="text" readonly>
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input [class.is-invalid]="valueNoValid('description')" formControlName="description" class="form-control" placeholder="Descripción" type="text">
                </div>

                <select formControlName="service" class="custom-select">
                    <option value="Teléfono">Teléfono</option>
                    <option value="Celular">Celular</option>
                    <option value="Televisión">Televisión</option>
                    <option value="Internet">Internet</option>
                  </select>

                <hr>
                <div class="form-group">
                    <button type="submit" class="btn btn-info btn-block"> Crear Solicitud  </button>
                </div>
            </form>
        </article>
    </div>
</div>