<router-outlet></router-outlet>

<footer>
    <br><br>
    <article class="mb-3" style="background-color: #C3EDE9;">
        <div class="card-body text-center">
            <h3 class="text-white mt-3 blk"> GLUE COMPANY </h3>
            <p class="h5 text-white blk"> CONECTADA CON EL MUNDO </p> <br>
            <p>
                <a class="btn btn-warning"> © All rights reserved
                <i class="fa fa-window-restore "></i>
                </a>
            </p>
        </div>
        <br><br>
    </article>

</footer>