<article class="mb-3" style="background-color: #C3EDE9;">
    <div class="card-body text-center">
        <h3 class="text-white mt-3 blk"> Ingresar </h3>
    </div>
    <br><br>
</article>

<div class="container mt-5">
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center"></h4>
            <hr>
            <form autocomplete="off" [formGroup]="loginForm" (ngSubmit)="loginUser()">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input id="email" [class.is-invalid]="valueNoValid('email')" class="form-control" formControlName="email" placeholder="Correo" type="email">
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input id="password" [class.is-invalid]="valueNoValid('password')" formControlName="password" class="form-control" placeholder="Contraseña" type="password">
                </div>

                <hr>
                <div class="form-group">
                    <button type="submit" class="btn btn-info btn-block"> Crear Cuenta  </button>
                </div>
                <p class="text-center">¿Aún no tienes cuenta? <a routerLink="/register" href="">Registrarse</a> </p>
            </form>
        </article>
    </div>
</div>