<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-5">
            <table class="table table-striped response-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Primer Apellido</th>
                        <th>Segundo Apellido</th>
                        <th>Dirección</th>
                        <th>Teléfono #1</th>
                        <th>Teléfono #2</th>
                        <th>Correo</th>
                        <th>Servicios</th>
                        <th>Fecha de Afiliación</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>{{client.Id}}</th>
                        <td>{{client.Name}}</td>
                        <td>{{client.FirstSurname}}</td>
                        <td>{{client.SecondSurname}}</td>
                        <th>{{client.Address}}</th>
                        <td>{{client.Phone}}</td>
                        <td>{{client.SecondContact}}</td>
                        <td>{{client.Email}}</td>
                        <td>
                            <h6 *ngIf="client.Telephone == 1"> Telefono, </h6>
                            <h6 *ngIf="client.Internet == 1"> Internet, </h6>
                            <h6 *ngIf="client.MobilePhone == 1"> Célular, </h6>
                            <h6 *ngIf="client.Television == 1"> Televisión </h6>
                        </td>
                        <td>{{client.CreationDate | date }}</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>